<html>
	<head>	
	    <title> movies</title>	
	</head>
	<body>
		<p>ABOUT</p>
<!-- 			<form action="/movie">
			<input name ="title" type="text">Title
			<input name="duration" type="text">Duree
			<input name="description" type="text">Desc
			<input type="submit">
		</form>			
	</body>
	 -->
		<div>
			<form action="/movie">
				<table>
					<tr><td><input name ="title" type="text"> Title</td></tr>
					<tr><td><input name="duration" type="text"> Duree</td></tr>
					<tr><td><input name="description" type="text"> Desc</td></tr>				
				</table>
				<input type="submit">
			</form>
		</div>		
	</body>	
</html>